include setup.py
include make_release.py
include MANIFEST.in

include librpg/docs/reference/Makefile
recursive-include librpg *.py *.txt *.png *.bnd *.map *.rst *.xcf *.bat *.yaml *.scm

prune librpg/docs/reference/build
prune librpg/tools/mapeditor
